body{
  width: 100%;
  height: 100vh;
  background-color: #141414;
  margin: 0;
  list-style: none;
    font-family: 'Comfortaa';
}
h1{
  margin: 0;
  margin-left: 20px;
  font-family: 'Comfortaa';
  font-weight: 700;
  cursor: default;
}
h2{
  margin-left: 10px;
  font-weight: 300;
  color: #ff9900;
}
h5{
  font-weight: 300;
  margin: 2px;
}
h5, h4{
  margin-left: 5px;
}
.languageImg{
  width: 30px;
}
.wrap{
  position: relative;
  width: 200px;
  height: 280px;
  margin-right: 50px;
  margin-bottom: 30px;
  box-shadow: 0px 0px 20px 10px rgba(0,0,0,0.4);
}
.posterImg{
  margin: 0 auto;
  transition: 0.3s;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.posterImg img{
  width: 200px;
  height: 280px;
}
.info{
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  color: rgba(255, 255, 255, 0.0);
  transition: 0.3s;
  clear: both;
}
#searchBar{
  width: 200px;
  background-color: rgba(0, 0, 0, 0.0);
  border: none;
  outline: none;
  font-family: 'Comfortaa';
}
#searchBtn{
  border: none;
  background-color: rgba(0, 0, 0, 0.0);
  font-size: 25px;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
}
#header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 10%;
  background-image: linear-gradient(to bottom right, #ff9900, #8700ff);
}
.mainSearch{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-right: 20px;
  height: 40px;
  width: 215px;
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 20px;
  transition: 0.3s;
}
.searchZone{
  display: flex;
  margin-right: 20px;
}
#searchList{
  display: flex;
  flex-direction: column;
  width: 100%;
}
#mainList{
  display: flex;
  overflow-x: auto;
  width: calc(100% - 60px);
  height: 350px;
  margin: 0;
  padding: 0;
  margin-left: 30px;
  margin-right: 30px;
}



/*// // // // // //  H O V E R  // // // // // //*/
.mainSearch:hover{
  padding: 3px 5px 3px 5px;
  border-radius: 25px;
  transition: 0.5s;
}
#searchBtn:hover{
  font-size: 28px;
  transition: 0.3s;
}
.info:hover{
  color: rgba(255, 255, 255, 1.0);
  background-color: rgba(0, 0, 0, 0.7);
  transition: 0.3s;
}
